Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-10, with the labels that each got.

#490 modules/evm: allow derive caller from any address spec
  runtime-sdk/modules/evm/src/lib.rs
Labels: m:evm

#491 modules/evm: ethereum-compatible secp256k1 addresses
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/test.rs
  runtime-sdk/src/crypto/signature/secp256k1.rs
  tests/e2e/simpleevmtest.go
Labels: m:evm

#496 modules/evm: new chain_id implementation
  runtime-sdk/modules/evm/src/evm_backend.rs
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/test.rs
  tests/runtimes/simple-evm/src/lib.rs
Labels: m:evm

#452 ethereum transaction decoding
  Cargo.lock
  runtime-sdk/modules/evm/Cargo.toml
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/raw_tx.rs
Labels: m:evm

#506 grpc error details supporting changes
  client-sdk/ts-web/core/cypress/integration/playground.spec.js
  client-sdk/ts-web/core/playground/sample-envoy.yaml
  client-sdk/ts-web/rt/cypress/integration/playground.spec.js
  client-sdk/ts-web/rt/playground/sample-envoy.yaml
Labels: c:client-sdk/typescript

#504 client-sdk/go: Add missing GetTransactionsWithResults method
  Cargo.lock
  client-sdk/go/client/client.go
  client-sdk/go/client/transaction.go
  client-sdk/go/event.go
  client-sdk/go/go.mod
  client-sdk/go/go.sum
  client-sdk/go/types/event.go
  client-sdk/go/types/event_test.go
  client-sdk/ts-web/core/reflect-go/go.mod
  client-sdk/ts-web/core/reflect-go/go.sum
  runtime-sdk/Cargo.toml
  tests/benchmark/go.mod
  tests/benchmark/go.sum
  tests/consts.sh
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/scenarios.go
  tests/e2e/simplekvtest.go
Labels: c:client-sdk/go

#514 grpc error details, protobufjs variant
  client-sdk/ts-web/core/.gitignore
  client-sdk/ts-web/core/compile-proto.sh
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/core/proto/grpc/status/status.proto
  client-sdk/ts-web/core/src/client.ts
  client-sdk/ts-web/package-lock.json
Labels: c:client-sdk/typescript

#526 ts-web/core: version 0.1.0-alpha6
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:client-sdk/typescript

#527 ts-web/rt: v0.2.0-alpha4
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
Labels: c:client-sdk/typescript

#555 modules/consensus_accounts: Fix withdrawal handling
  client-sdk/ts-web/rt/playground/src/consensus.js
  runtime-sdk/src/modules/consensus_accounts/mod.rs
  runtime-sdk/src/modules/consensus_accounts/test.rs
  tests/e2e/simple_consensus.go
Labels: bug, m:consensus-accounts

#559 ts-web/rt: add SubmitTxNoWait to transaction wrapper
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/src/wrapper.ts
Labels: c:client-sdk/typescript

#562 modules/accounts: emit events on mint and burn
  runtime-sdk/src/modules/accounts/mod.rs
Labels: m:accounts

#596 client-sdk/go: Add support for GetLastRetainedBlock query
  Cargo.lock
  client-sdk/go/client/client.go
  client-sdk/go/go.mod
  client-sdk/go/go.sum
  client-sdk/ts-web/core/reflect-go/go.mod
  client-sdk/ts-web/core/reflect-go/go.sum
  runtime-sdk/Cargo.toml
  tests/benchmark/go.mod
  tests/benchmark/go.sum
  tests/consts.sh
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/scenarios.go
  tests/e2e/simplekvtest.go
Labels: c:client-sdk/go
