Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-09, with the labels that each got.

#393 ts-web/rt: doc comments for signing
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/src/transaction.ts
  client-sdk/ts-web/rt/src/wrapper.ts
Labels: c:docs, c:client-sdk/typescript

#405 ts-web/core: minor types fixes
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/src/types.ts
Labels: c:client-sdk/typescript

#411 ts-web/core: minor types sync
  client-sdk/ts-web/core/src/types.ts
Labels: c:client-sdk/typescript

#399 evm: Support historic queries in block_hash
  Cargo.lock
  runtime-sdk/modules/evm/src/evm_backend.rs
  runtime-sdk/modules/evm/src/lib.rs
Labels: c:runtime-sdk, m:evm

#437 ts-web/core: types fixes and sync chnages from oasis-core
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/src/client.ts
  client-sdk/ts-web/core/src/registry.ts
  client-sdk/ts-web/core/src/types.ts
  client-sdk/ts-web/core/src/upgrade.ts
Labels: c:client-sdk/typescript

#440 ts-web/core: reflect match oasis-core version with go sdk
  client-sdk/ts-web/core/reflect-go/go.mod
  client-sdk/ts-web/core/reflect-go/go.sum
Labels: c:client-sdk/typescript

#450 ts-web/core: remove obsolete caveat from readme
  client-sdk/ts-web/core/README.md
Labels: c:docs, c:client-sdk/typescript

#460 ci: check for consistent oasis-core version
  .github/workflows/ci-test.yaml
  client-sdk/ts-web/core/reflect-go/go.mod
  client-sdk/ts-web/core/reflect-go/go.sum
  tests/check-core-versions.sh
Labels: c:client-sdk/go, c:testing

#463 runtime-sdk/modules/evm: Add Balance query, clean up other queries
  client-sdk/go/modules/evm/evm.go
  client-sdk/go/modules/evm/types.go
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/types.rs
  tests/e2e/simpleevmtest.go
Labels: m:evm

#458 runtime-sdk/modules/contracts: Cache and compress contract code
  Cargo.lock
  client-sdk/go/go.mod
  client-sdk/go/modules/contracts/contracts.go
  runtime-sdk/modules/contracts/Cargo.toml
  runtime-sdk/modules/contracts/src/abi/gas.rs
  runtime-sdk/modules/contracts/src/abi/oasis/mod.rs
  runtime-sdk/modules/contracts/src/abi/oasis/storage.rs
  runtime-sdk/modules/contracts/src/abi/oasis/test.rs
  runtime-sdk/modules/contracts/src/code.rs
  runtime-sdk/modules/contracts/src/lib.rs
  runtime-sdk/modules/contracts/src/results.rs
  runtime-sdk/modules/contracts/src/test.rs
  runtime-sdk/modules/evm/src/test.rs
  runtime-sdk/src/context.rs
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/modules/accounts/test.rs
  runtime-sdk/src/modules/consensus/test.rs
  runtime-sdk/src/modules/consensus_accounts/test.rs
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
  tests/e2e/simplekvtest.go
  tests/runtimes/simple-keyvalue/src/keyvalue.rs
  tests/runtimes/simple-keyvalue/src/lib.rs
Labels: c:runtime-sdk, c:client-sdk/go, m:contracts

#470 tests: fix syntax difference with single-dependency modules
  tests/check-core-versions.sh
Labels: bug, c:testing

#447 runtime-sdk/modules/evm: support precompiled contracts for evm
  Cargo.lock
  runtime-sdk/modules/evm/Cargo.toml
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/precompile.rs
Labels: m:evm
