Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-06, with the labels that each got.

#170 docs adjustments
  README.md
  client-sdk/ts-web/core/docs/getting-started.md
Labels: c:docs

#181 ts-web/core: docs correction
  client-sdk/ts-web/core/docs/getting-started.md
Labels: c:docs

#182 ts-web: sync webpack version
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:deps, c:testing

#183 ts-web/core: bech32 2.0.0
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/core/src/address.ts
  client-sdk/ts-web/package-lock.json
Labels: c:client-sdk/typescript, c:deps

#193 test artifacts changes
  .github/workflows/ci-longtest.yaml
  .github/workflows/ci-test.yaml
  client-sdk/ts-web/core/.gitignore
  client-sdk/ts-web/core/playground/consts.sh
  client-sdk/ts-web/core/playground/download-artifacts.sh
  client-sdk/ts-web/core/playground/sample-run-network.sh
  client-sdk/ts-web/rt/.gitignore
  client-sdk/ts-web/rt/playground/consts.sh
  client-sdk/ts-web/rt/playground/download-artifacts.sh
  client-sdk/ts-web/rt/playground/sample-run-network.sh
  tests/.gitignore
  tests/consts.sh
  tests/download-artifacts.sh
  tests/paths.sh
  tests/run-e2e.sh
Labels: c:testing

#211 ts-web: new releases
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/signer-ledger/docs/changelog.md
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:client-sdk/typescript

#213 ts-web/core: correct bech32 dependency
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/package-lock.json
Labels: c:client-sdk/typescript, c:deps

#197 docs: Initial structure
  .gitbook.yaml
  .github/workflows/ci-lint.yml
  .markdownlint.yml
  docs/guide/getting-started.md
  docs/guide/minimal-runtime.md
  docs/guide/modules.md
  docs/index.md
  docs/toc.md
Labels: c:docs

#229 ci: Add Rust documentation builder action
  .github/workflows/ci-docs.yaml
  docs/toc.md
Labels: c:docs

#231 docs: Add some text to modules section
  docs/guide/getting-started.md
  docs/guide/modules.md
Labels: c:docs

#245 ts-web: alpha releases for core, rt, and ext-utils
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/ext-utils/docs/changelog.md
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
Labels: c:client-sdk/typescript

#248 ts-web/ext-utils: add instructions
  client-sdk/ts-web/ext-utils/README.md
  client-sdk/ts-web/ext-utils/docs/getting-started.md
  client-sdk/ts-web/ext-utils/docs/sample-ext-id.png
  client-sdk/ts-web/ext-utils/docs/sample-page-open.png
  client-sdk/ts-web/ext-utils/docs/sample-page-webpack.png
Labels: c:client-sdk/typescript, c:docs

#252 ts-web/ext-utils: fix webpack-dev-server version
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
Labels: c:client-sdk/typescript, c:deps
