Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-05, with the labels that each got.

#116 Go 1.16
  .github/workflows/ci-test.yaml
  client-sdk/go/go.mod
  tests/e2e/go.mod
Labels: c:client-sdk/go

#117 modules/consensus_accounts: add gas costs for transactions
  runtime-sdk/src/modules/consensus_accounts/mod.rs
  tests/runtimes/simple-consensus/src/lib.rs
Labels: c:runtime-sdk

#151 ci: Run golangci-lint for tests/e2e
  .github/workflows/ci-lint.yml
  .golangci.yml
  client-sdk/go/crypto/signature/ed25519/ed25519.go
  client-sdk/go/crypto/signature/secp256k1/secp256k1.go
  tests/e2e/runtime.go
  tests/e2e/simple_consensus.go
  tests/e2e/simplekvtest.go
Labels: c:testing
