Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-12, with the labels that each got.

#674 modules/evm: Fix overly strict EVM nonce sanity check
  runtime-sdk/modules/evm/src/backend.rs
  tests/e2e/contracts/evm_create_multi.hex
  tests/e2e/scenarios.go
  tests/e2e/simpleevmtest.go
Labels: bug, m:evm

#672 ts-web: catching up with sdk changes
  client-sdk/ts-web/core/src/client.ts
  client-sdk/ts-web/core/src/types.ts
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/rt/src/consensus.ts
  client-sdk/ts-web/rt/src/consensus_accounts.ts
  client-sdk/ts-web/rt/src/core.ts
  client-sdk/ts-web/rt/src/evm.ts
  client-sdk/ts-web/rt/src/index.ts
  client-sdk/ts-web/rt/src/rewards.ts
  client-sdk/ts-web/rt/src/types.ts
Labels: c:client-sdk/typescript

#678 ts-web/rt: v0.2.0-alpha10
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/rt/src/event.ts
Labels: c:client-sdk/typescript

#677 runtime-sdk: Restrict queries in secure builds
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/keymanager.rs
  runtime-sdk/src/modules/core/mod.rs
Labels: c:runtime-sdk

#685 ts-web/core: client error wrapping changes
  client-sdk/ts-web/core/src/client.ts
Labels: c:client-sdk/typescript
