Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-07, with the labels that each got.

#265 ci: change envoy install
  .github/workflows/ci-test.yaml
  client-sdk/ts-web/core/docs/getting-started.md
Labels: bug, c:docs, c:testing

#273 disable markdown code block line length limit
  .github/workflows/ci-lint.yml
  .markdownlint.yml
Labels: c:docs, c:testing

#292 ci: install ts-web/core package first
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yaml
Labels: bug, c:client-sdk/typescript, c:testing

#305 runtime-sdk: Drop static lifetime requirement for Error::module_name
  runtime-sdk-macros/src/error_derive.rs
  runtime-sdk/src/error.rs
Labels: c:runtime-sdk

#301 ts-web/ext-utils: adapters around the interface
  client-sdk/ts-web/ext-utils/sample-ext/src/index.js
  client-sdk/ts-web/ext-utils/sample-page/src/index.js
Labels: c:client-sdk/typescript

#286 ts-web/ext-utils: v0.1.0-alpha2
  client-sdk/ts-web/ext-utils/docs/changelog.md
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
Labels: c:client-sdk/typescript

#311 docs: Use runtime-sdk/v0.1.0 tag of the SDK
  docs/guide/minimal-runtime.md
Labels: c:docs

#316 ci: use --foreground-scripts to coordinate install order
  .github/workflows/ci-lint.yml
  .github/workflows/ci-test.yaml
Labels: c:client-sdk/typescript, c:testing

#317 ts-web/ext-utils: replace alert/confirm
  client-sdk/ts-web/ext-utils/sample-ext/src/index.js
Labels: c:client-sdk/typescript

#325 Documentation materials improvements
  client-sdk/ts-web/core/playground/sample-envoy.yaml
  client-sdk/ts-web/ext-utils/src/ext.ts
Labels: c:client-sdk/typescript, c:docs
