Repository oasisprotocol/oasis-sdk, pull requests merged in 2021-11, with the labels that each got.

#606 ts-web/rt: v0.2.0-alpha5
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
Labels: c:client-sdk/typescript

#601 runtime-sdk: Support consensus denomination scaling
  client-sdk/go/modules/accounts/accounts.go
  client-sdk/go/modules/accounts/types.go
  client-sdk/go/modules/consensus/consensus.go
  client-sdk/go/modules/consensus/types.go
  client-sdk/ts-web/rt/playground/src/consensus.js
  client-sdk/ts-web/rt/src/accounts.ts
  client-sdk/ts-web/rt/src/types.ts
  runtime-sdk/src/lib.rs
  runtime-sdk/src/modules/accounts/mod.rs
  runtime-sdk/src/modules/accounts/test.rs
  runtime-sdk/src/modules/accounts/types.rs
  runtime-sdk/src/modules/consensus/mod.rs
  runtime-sdk/src/modules/consensus/test.rs
  runtime-sdk/src/modules/consensus_accounts/mod.rs
  tests/e2e/simple_consensus.go
  tests/runtimes/simple-consensus/src/lib.rs
Labels: c:runtime-sdk

#607 ts-web/signer-ledger: v0.1.0-alpha3
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/signer-ledger/docs/changelog.md
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:client-sdk/typescript

#614 modules/accounts: Add internal method for setting total supply
  runtime-sdk/src/modules/accounts/mod.rs
  runtime-sdk/src/modules/accounts/test.rs
Labels: m:accounts

#623 runtime-sdk: Fix remaining_tx_gas to take batch limits into account
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
Labels: c:runtime-sdk

#622 modules/evm: Propagate revert reason
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/test.rs
Labels: m:evm

#625 ts-web/rt: v0.2.0-alpha6
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
Labels: c:client-sdk/typescript

#617 EstimateGas: support ETH caller address
  client-sdk/go/modules/core/core.go
  client-sdk/go/modules/core/types.go
  client-sdk/go/testing/testing.go
  client-sdk/go/testing/testing_test.go
  client-sdk/go/types/transaction.go
  client-sdk/ts-web/rt/src/types.ts
  runtime-sdk/modules/contracts/src/results.rs
  runtime-sdk/modules/evm/src/derive_caller.rs
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
  runtime-sdk/src/modules/core/types.rs
  runtime-sdk/src/types/transaction.rs
  tests/e2e/simpleevmtest.go
  tests/e2e/simplekvtest.go
Labels: c:runtime-sdk

#626 ts-web/rt: playground make deposit/withdraw cross-account
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/rt/playground/src/consensus.js
  client-sdk/ts-web/rt/src/signature_secp256k1.ts
  runtime-sdk/src/modules/consensus_accounts/mod.rs
  runtime-sdk/src/modules/consensus_accounts/test.rs
Labels: c:client-sdk/typescript, m:consensus-accounts

#629 modules/consensus_accounts: substitute nonce for id in events
  client-sdk/go/modules/consensusaccounts/types.go
  client-sdk/ts-web/core/src/address.ts
  client-sdk/ts-web/ext-utils/src/ext.ts
  client-sdk/ts-web/rt/playground/src/consensus.js
  client-sdk/ts-web/rt/playground/src/index.js
  client-sdk/ts-web/rt/src/consensus_accounts.ts
  client-sdk/ts-web/rt/src/types.ts
  runtime-sdk/src/modules/consensus_accounts/mod.rs
  runtime-sdk/src/modules/consensus_accounts/test.rs
  runtime-sdk/src/modules/consensus_accounts/types.rs
  tests/e2e/simple_consensus.go
Labels: c:runtime-sdk, m:consensus-accounts

#633 ts-web/rt: v0.2.0-alpha8
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/docs/changelog.md
  client-sdk/ts-web/rt/package.json
Labels: c:client-sdk/typescript

#634 ts-web/rt: playground don't poll if tx submission fails
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/playground/src/consensus.js
Labels: c:client-sdk/typescript

#638 runtime-sdk: Don't panic if migrate fails during query
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/modules/core/test.rs
Labels: bug, c:runtime-sdk

#661 modules/contracts: Bump wasm3 to 0.3.0
  Cargo.lock
  runtime-sdk/modules/contracts/Cargo.toml
Labels: c:deps, m:contracts
