Repository oasisprotocol/oasis-sdk, pull requests merged in 2022-06, with the labels that each got.

#983 evm: Improve compatibility and document more differences
  runtime-sdk/modules/evm/README.md
  runtime-sdk/modules/evm/src/backend.rs
  runtime-sdk/modules/evm/src/precompile.rs
  runtime-sdk/src/context.rs
  runtime-sdk/src/modules/accounts/mod.rs
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
Labels: c:runtime-sdk, m:evm

#985 cli: Move "accounts entity-signer" under "wallet remote-signer"
  cli/cmd/accounts.go
  cli/cmd/wallet.go
Labels: c:cli

#984 runtime-sdk: Add support for signed queries
  cli/cmd/contracts.go
  client-sdk/go/callformat/callformat.go
  client-sdk/go/client/transaction.go
  client-sdk/go/modules/contracts/types.go
  client-sdk/go/modules/core/core.go
  client-sdk/go/modules/core/types.go
  client-sdk/go/types/transaction.go
  client-sdk/ts-web/rt/src/types.ts
  contract-sdk/src/abi/dispatch.rs
  contract-sdk/src/abi/mod.rs
  contract-sdk/src/abi/version.rs
  contract-sdk/src/context.rs
  contract-sdk/src/testing.rs
  contract-sdk/types/src/lib.rs
  runtime-sdk-macros/src/method_handler_derive.rs
  runtime-sdk/modules/contracts/src/abi/mod.rs
  runtime-sdk/modules/contracts/src/abi/oasis/mod.rs
  runtime-sdk/modules/contracts/src/abi/oasis/test.rs
  runtime-sdk/modules/contracts/src/lib.rs
  runtime-sdk/modules/contracts/src/results.rs
  runtime-sdk/modules/contracts/src/test.rs
  runtime-sdk/modules/contracts/src/types.rs
  runtime-sdk/modules/contracts/src/wasm.rs
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/raw_tx.rs
  runtime-sdk/modules/evm/src/test.rs
  runtime-sdk/src/callformat.rs
  runtime-sdk/src/context.rs
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/module.rs
  runtime-sdk/src/modules/accounts/mod.rs
  runtime-sdk/src/modules/accounts/test.rs
  runtime-sdk/src/modules/consensus_accounts/test.rs
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
  runtime-sdk/src/modules/core/types.rs
  runtime-sdk/src/runtime.rs
  runtime-sdk/src/storage/mkvs.rs
  runtime-sdk/src/storage/mod.rs
  runtime-sdk/src/storage/overlay.rs
  runtime-sdk/src/testing/mock.rs
  runtime-sdk/src/types/transaction.rs
  tests/contracts/hello/src/lib.rs
  tests/e2e/contracts.go
  tests/runtimes/simple-contracts/src/lib.rs
  tests/runtimes/simple-keyvalue/src/keyvalue.rs
Labels: c:runtime-sdk

#981 runtime-sdk: gas estimate binary search
  .github/actions/test-rust/action.yml
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
  runtime-sdk/src/types/transaction.rs
Labels: c:runtime-sdk
