Repository oasisprotocol/oasis-sdk, pull requests merged in 2022-02, with the labels that each got.

#775 runtime-sdk: Reject batches that overflow batch gas limit
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/modules/core/mod.rs
Labels: c:runtime-sdk

#635 ts-web/core: playground show how to avoid eval
  client-sdk/ts-web/core/playground/src/errata/inquire.js
  client-sdk/ts-web/core/playground/webpack.config.js
  client-sdk/ts-web/ext-utils/sample-ext/src/errata/inquire.js
  client-sdk/ts-web/ext-utils/sample-ext/webpack.config.js
  client-sdk/ts-web/ext-utils/sample-page/src/errata/inquire.js
  client-sdk/ts-web/ext-utils/sample-page/webpack.config.js
  client-sdk/ts-web/rt/playground/src/errata/inquire.js
  client-sdk/ts-web/rt/playground/webpack.config.js
  client-sdk/ts-web/signer-ledger/playground/src/errata/inquire.js
  client-sdk/ts-web/signer-ledger/playground/webpack.config.js
Labels: c:client-sdk/typescript

#673 ts-web/rt: add contracts module
  client-sdk/ts-web/rt/src/contracts.ts
  client-sdk/ts-web/rt/src/index.ts
  client-sdk/ts-web/rt/src/types.ts
Labels: c:client-sdk/typescript, m:contracts
