Repository oasisprotocol/oasis-sdk, pull requests merged in 2022-10, with the labels that each got.

#1155 docs/runtime: Refresh active toolchain example
  cli/README.md
  docs/runtime/prerequisites.md
Labels: c:docs

#1139 ts-web/core: v0.1.1-alpha.2
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:client-sdk/typescript

#1165 ts-web: docs additions
  client-sdk/ts-web/README.md
  client-sdk/ts-web/core/README.md
  client-sdk/ts-web/core/docs/getting-started.md
Labels: c:docs, c:client-sdk/typescript

#1175 runtime-sdk: Do not run global state migrations in queries
  runtime-sdk/src/runtime.rs
Labels: bug

#1162 ts-web/core: switch back to newly fixed getName
  client-sdk/ts-web/core/src/client.ts
Labels: c:client-sdk/typescript
