Repository oasisprotocol/oasis-sdk, pull requests merged in 2022-05, with the labels that each got.

#938 cli: Add support for encrypted call format
  cli/cmd/accounts.go
  cli/cmd/common/transaction.go
  cli/cmd/contracts.go
  client-sdk/go/callformat/callformat.go
  client-sdk/go/client/callformat.go
  client-sdk/go/client/transaction.go
  client-sdk/go/modules/core/core.go
  client-sdk/go/modules/core/types.go
  client-sdk/go/types/transaction.go
  runtime-sdk/modules/contracts/src/results.rs
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/module.rs
  runtime-sdk/src/modules/core/mod.rs
Labels: c:runtime-sdk, c:cli

#942 contract-sdk: Add marker traits for confidential/public stores
  contract-sdk/specs/oas20/src/helpers.rs
  contract-sdk/specs/oas20/src/lib.rs
  contract-sdk/src/abi/dispatch.rs
  contract-sdk/src/abi/storage.rs
  contract-sdk/src/context.rs
  contract-sdk/src/storage.rs
  contract-sdk/src/testing.rs
  contract-sdk/storage/src/cell.rs
  contract-sdk/storage/src/map.rs
  docs/contract/hello-world.md
  tests/contracts/hello/src/lib.rs
Labels: c:contract-sdk

#943 cli: Fix incorrect contracts call data parsing
  cli/cmd/contracts.go
  docs/contract/hello-world.md
Labels: bug

#944 runtime-sdk: Add option to disable gas used event emission
  runtime-sdk/src/modules/core/mod.rs
Labels: c:runtime-sdk

#940 ts-web: update core dependency
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:client-sdk/typescript
