Repository oasisprotocol/oasis-sdk, pull requests merged in 2022-01, with the labels that each got.

#709 Bump Rust dependencies
  Cargo.lock
  runtime-sdk/modules/contracts/Cargo.toml
  runtime-sdk/modules/evm/Cargo.toml
  tests/contracts/hello/Cargo.lock
Labels: c:deps

#683 ts-web/core: 0.1.0-alpha8
  client-sdk/ts-web/core/docs/changelog.md
  client-sdk/ts-web/core/package.json
  client-sdk/ts-web/ext-utils/package.json
  client-sdk/ts-web/package-lock.json
  client-sdk/ts-web/rt/package.json
  client-sdk/ts-web/signer-ledger/package.json
Labels: c:client-sdk/typescript

#725 cli/cmd/accounts: Add support for consensus layer transfers
  cli/cmd/accounts.go
  cli/cmd/common/selector.go
  cli/cmd/common/transaction.go
Labels: c:cli

#740 runtime-sdk: Properly emit weights during check tx pass
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
Labels: c:runtime-sdk

#743 runtime-sdk: Support configuration for core module
  runtime-sdk/modules/contracts/src/abi/oasis/test.rs
  runtime-sdk/modules/contracts/src/lib.rs
  runtime-sdk/modules/contracts/src/results.rs
  runtime-sdk/modules/contracts/src/test.rs
  runtime-sdk/modules/evm/src/lib.rs
  runtime-sdk/modules/evm/src/test.rs
  runtime-sdk/src/dispatcher.rs
  runtime-sdk/src/modules/accounts/mod.rs
  runtime-sdk/src/modules/consensus/mod.rs
  runtime-sdk/src/modules/consensus_accounts/mod.rs
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
  runtime-sdk/src/runtime.rs
  runtime-sdk/src/testing/mock.rs
  tests/runtimes/benchmarking/src/lib.rs
  tests/runtimes/simple-consensus/src/lib.rs
  tests/runtimes/simple-evm/src/lib.rs
  tests/runtimes/simple-keyvalue/src/keyvalue.rs
  tests/runtimes/simple-keyvalue/src/lib.rs
  tests/runtimes/simple-keyvalue/src/test.rs
Labels: c:runtime-sdk

#744 runtime-sdk: Support local minimum gas price overrides
  runtime-sdk/src/modules/core/mod.rs
  runtime-sdk/src/modules/core/test.rs
Labels: c:runtime-sdk

#748 tests/e2e: Add test for transaction ordering by priority
  Cargo.lock
  cli/go.mod
  cli/go.sum
  client-sdk/go/go.mod
  client-sdk/go/go.sum
  client-sdk/go/types/transaction.go
  client-sdk/ts-web/core/reflect-go/go.mod
  client-sdk/ts-web/core/reflect-go/go.sum
  runtime-sdk/Cargo.toml
  runtime-sdk/src/modules/accounts/test.rs
  tests/benchmark/go.mod
  tests/benchmark/go.sum
  tests/consts.sh
  tests/e2e/go.mod
  tests/e2e/go.sum
  tests/e2e/scenarios.go
  tests/e2e/simplekvtest.go
  tests/e2e/txgen/txgen.go
  tests/runtimes/simple-keyvalue/src/lib.rs
Labels: c:testing

#752 cli: Add support for specifying gas price
  cli/cmd/common/transaction.go
Labels: c:cli
